/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
.container{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

hr{
    border: 1px solid lightblue;
}
.bg-grey{
    background-color: rgb(211, 211, 211);
}
.bg-arancione{
    background-color: rgb(255, 165, 0);
}
.bg-blue{
    background-color: rgb(0, 0, 255);
}
div{
    border: 1px dotted rgb(0, 0, 0);
}
.flex{
    display: flex;
}


/* Header */
.header{
    background-color: rgb(127, 255, 212);
    height: 100px;
    padding: 35px 0px
}
.menu{
    line-height: 30px;
}
.logo{
    width: 20%;
    justify-content: flex-start;
    align-items: center;
}
.lista{
    width: 60%;
    align-items: center;
    justify-content: center;
}
.login{
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}
.lista ul{
    display: flex;
    list-style: none;
}
.lista ul li{
    margin: 0 10px;
}

/* Fine Header */

/* Banner */
.banner{
    /* debug */
    /* height: 400px; */
    padding: 50px 20% ;
}

.banner-content{
    height: 300px;
    background-color: pink;
}